code { 
  font-family: 'Droid Sans Mono', monospace;
  background-color: #232323; 
  color: #D78787;
  display: block; 
  padding: 1em;
  border-radius: 0.5em;
  font-size: 0.8em;
  white-space: wrap;
  overflow: auto;
  margin-bottom: 1.5em;
}

p code, li code {
  display: inline;
  color: #222222;
  font-size: inherit;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #EAEAEA;
  border-radius: 3px;
}

.phps-t-open-tag {color: #D78787;}

.phps-t-if,
.phps-t-exit,
.phps-t-while,
.phps-t-isset,
.phps-t-exclaim,
.phps-t-foreach,
.phps-t-return,
.phps-t-double-arrow,
.phps-t-as,
.phps-t-else,
.phps-t-list,
.phps-t-array
	{color: #87AFD7;}

.phps-t-variable
	{color: #AFAFD7;}

.phps-t-string
	{color: #D7AFD7;}

.phps-t-lnumber
	{color: #D7AF87;}

.phps-t-encapsed-and-whitespace,
.phps-t-constant-encapsed-string
	{color: #FFFFAF;}

.phps-t-echo,
.phps-t-function,
.phps-t-use
	{color: #AFD787;}

.phps-t-inline-html
	{color: #D0D0D0;}

.phps-t-comment,
.phps-t-doc-comment
	{color: #808080}
