html {
  padding: 0;
  margin: 0;
  background-color: #EAEAEA;
  color: #232323;
}

body {
  font-weight: 400;
  font-family: 'Droid Sans', sans-serif;
  vertical-align: baseline;
  font-size: 16px;
  max-width: 42rem;
  padding: 2rem;
  padding-top: 0.5rem;

  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;

  border-radius: 0.5em;

  background-image: url('/images/sheep.png');
  background-repeat: no-repeat;
  background-position: bottom right;

  box-shadow: 0px 5px 10px #CACACA;
}

h1, h2, h3 {
  font-family: 'Droid Serif', serif;
  margin: 0;
}

p {
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 1.3em;
}

a {
  color: #119C11;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #5DA35D;
}

::selection {
  color: #EFEFEF;
  background: #119C11; 
}
::-moz-selection {
  color: #EFEFEF;
  background: #119C11;
}

h1 a,
h1 a:visited {
  color: #232323;
}

header { 
  text-align: center; 
  margin: 1rem;
}
header h1 { font-size: 3.5em; }
header h2 { font-size: 1.1em; }
header { margin-bottom: 1.5em; }

h1 { 
  font-size: 1.4em; 
  margin-bottom: 0.5rem;
}
h2 { 
  font-size: 1.1em; 
  margin-bottom: 0.5rem;
}

hr {
  margin-top: 0;
  margin-bottom: 1.5em;
  width: 66%;
  background-color: none;
  height: 1px;
  border: none;
  border-bottom: 1px dotted #666666;
}

.postTime {
  margin-top: 3em;
  font-size: 0.6em;
}

footer {
  display: block;
  margin-top: 15em;
  font-size: 0.6em; 
}

abbr {
  border-bottom: 1px dotted #666666;
}

ul {
  line-height: 1.5em;
  list-style: none;
  padding-left: 1.5rem;
}
ul li:before {
  content: '\2794';
  margin-right: 0.4rem;
}
ul li {
}

@media all and (max-width: 600px) {
  header h1 {
    font-size: 2em;
  }
  header h2 {
    font-size: 1em;
  }

  section.info h1 {
    font-size: 1.4em;
  }
}
