body {
	font-size: 20px;
	font-family: sans-serif;
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr fit-content(320px);
    grid-template-rows: 1fr fit-content(20px);
    grid-template-areas:
        "title logo"
        "nav   logo";
    grid-gap: 1rem;

    & h1 {
        grid-area: title; 
        & a {
            text-decoration: none;
            font-weight: bold;
        }
    }

    & img {
        grid-area: logo;
    }

    & nav {
        grid-area: nav;

        & ul {
            list-style-type: none;
            padding-left: 0;

            & li {
                display: inline-block;
            }
        }
    }
}



p.signoff {
	text-align: right;
}

div.video {
    display: grid;
    grid-template-columns: 1fr fit-content(320px);
    grid-template-rows: 1fr fit-content(20px);
    grid-template-areas:
        "info   thumbnail"
        "footer thumbnail";
    grid-gap: 1rem;

    background-color: #DDD;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 15px;
    border: 3px solid #BBB;
    
    & a {
        text-decoration: none;
        font-weight: bold;
    }

    & .info {
        grid-area: info;
    }

    & .footer {
        grid-area: footer;

        & a {
            color: #666;
        }

        & span {
            font-size: 1.25rem;
            vertical-align: middle;
        }

        & img.channel-icon {
            width: 40px;
            height: 40px;
            border: 3px solid #BBB;
            border-radius: 30px;
            vertical-align: middle;
        }
    }

    & .thumbnail {
        grid-area: thumbnail;
        text-align: right;

        & img {
            width: 320px;
            height: 180px;
            border: 3px solid #BBB;
            border-radius: 10px;
        }
    }

    & h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5rem;
    }


}

