{{template "header"}}
<section class=container>
<h2>Blog Posts</h2>
<p>
I don't blog often. Is 'blog' a verb? I think blog can be a verb.
</p>
</section>

{{range .posts}}
	<article class=container>
		<a href="/blog-posts/{{.ID}}">{{.Title}}</a>
	</article>
{{end}}

{{template "footer"}}

