{{define "header"}}
<!doctype html>
<html lang="en">
	<head>
		<title>TomNomNom.com</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/static/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<h1><a href="/">TomNomNom.com</a></h1>
		</header>

        <nav>
            <ul>
                <li><a href=/tools>Tools</a></li>
                <li><a href=/talks>Talks</a></li>
                <li><a href=/links>Links</a></li>
                <li><a href=/sheep>Sheep</a></li>
            </ul>
        </nav>

        <main>
{{end}}
