{{define "header"}}
<!doctype html>
<html lang="en">
    <head>
        <title>TomNomNom.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/static/main.css" rel="stylesheet" type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <header class=container>
            <h1><a href="/">TomNomNom.com</a></h1>

            <nav>
                <ul>
                    <li><a href=/tools>Tools</a></li>
                    <li><a href=/videos>Videos</a></li>
                    <li><a href=/sheep>Sheep</a></li>
                    <li><a href=/blog-posts>Blog Posts</a></li>
                </ul>
            </nav>
        </header>


        <main>
{{end}}
