<!doctype html>
<html lang="en">
	<head>
		<title>TomNomNom.com</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/static/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<h1><a href="/">TomNomNom.com</a></h1>
		</header>

        <nav>
            <ul>
                <li><a href=/tools>Tools</a></li>
                <li><a href=/talks>Talks</a></li>
                <li><a href=/links>Links</a></li>
                <li><a href=/sheep>Sheep</a></li>
            </ul>
        </nav>

        <main>
            <p>
                The web can be a wonderful place. I&apos;ve spent so much time here over the last few decades.
            </p>
            <p>
                Like many, I kind of miss the way it used to be. People had personal websites where they collected GIFs
                and documented the minutiae of their special interests. Those are mostly gone now, and that makes me sad.
            </p>
            <p>
                The modern web is cool in its own way. So much more is possible now. There&apos;s web-based applications
                that outclass their desktop counterparts of yesteryear, and it&apos;s&mdash;mostly&mdash;a whole lot faster too.
            </p>
            <p>
                It&apos;s been a <em>long</em> time since I made a website, so I thought I&apos;d give it a go. Be the change you
                want to see and all that.
            </p>
            <p class=signoff>
                &horbar; Tom
            </p>
        </main>


	</body>
</html>

