{{template "header"}}
<section class=container>
<h2>Links</h2>
<p>
I'm also in these places:
</p>
<ul>
    <li><a href="https://github.com/tomnomnom/">GitHub</a></li>
    <li><a href="https://bsky.app/profile/tomnomnom.com">Bluesky</a></li>
    <li><a href="https://www.youtube.com/@TomNomNomDotCom">YouTube</a></li>
</ul>
</section>

{{template "footer"}}
