{{template "header"}}

<section class=container>
<h2>Videos</h2>
<p>
I've got a few videos on <a href="https://www.youtube.com/@TomNomNomDotCom">my own YouTube channel</a>, but I've also done a
bunch of talks, live-streams, and interviews that ended up on other people's channels. I've collected them together here for easy finding!
</p>
</section>

{{range .videos}}


    <div class="video container">
        <div class=info>
            <h2><a href="https://www.youtube.com/watch?v={{.ID}}">{{.Title}}</a></h2>
            <small><time datetime="{{.Published}}">{{.Date}}</time></small>
            <p>
                {{.Description}}
            </p>
        </div>
        <div class=footer>
            <a href="https://www.youtube.com/channel/{{.ChannelID}}">
                <img src="/static/channel-icons/{{.ChannelID}}.jpg" class=channel-icon>
                <span>{{.Channel}}</span>
            </a>
        </div>

        <div class=thumbnail>
            <a href="https://www.youtube.com/watch?v={{.ID}}">
                <img src="/static/thumbnails/{{.ID}}.jpg">
            </a>
        </div>
    </div>

{{end}}

{{template "footer"}}
