{{template "header"}}

{{range .videos}}

    <div class=video>
        <div class=info>
            <h2><a href="https://www.youtube.com/watch?v={{.ID}}">{{.Title}}</a></h2>
            <small><time datetime="{{.Published}}">{{.Date}}</time></small>
            <p>
                {{.Description}}
            </p>
        </div>
        <div class=footer>
            <a href="https://www.youtube.com/channel/{{.ChannelID}}">
                <img src="/static/channel-icons/{{.ChannelID}}.jpg" class=channel-icon>
                <span>{{.Channel}}</span>
            </a>
        </div>

        <div class=thumbnail>
            <a href="https://www.youtube.com/watch?v={{.ID}}">
                <img src="/static/thumbnails/{{.ID}}.jpg">
            </a>
        </div>
    </div>

{{end}}

{{template "footer"}}
